body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #141414, #2c2c2c 3%, #333333);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 100vh;
}

.nav-bar {
    display: flex;
    height: 8vh;
    background-color: rgb(51, 51, 51); 
    align-items: center;
    font-size: 80%;
    gap: 1%;
}
.nav-bar img {
    width: auto;
    height: 5vh;
}

.ap {
    font-size: 300%;
    font-weight: 700;
    margin-left: 3%;
    margin-bottom: -1%;
    text-shadow: 3px 3px 5px#141414;
}

.texto {
    font-size: 120%;
    text-shadow: 3px 3px 5px#141414;
    margin: 3% 3%;
}

.materias {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.card img {
    aspect-ratio: 13/9;
    width: 20vw;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.card {
    text-align: center;
}
.botao-card {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.botao-card a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    background-color: rgb(68, 68, 68);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #141414;
    text-shadow: 3px 3px 5px#141414;
}

.botao-card a:hover {
    transform: scale(1.03);
    background-color: rgb(80, 80, 80);
}